@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --color-primary: 171 86 81;
        --color-secondary: 250 222 190;
        --color-tertiary: 255 253 253;
        --color-border: 0 0 0;
        --color-label-bg: 217 217 217;
        --color-light-placeholder: 140 140 140;
        --color-white: 255 255 255;
    }
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body {
    font-family: 'Poppins', sans-serif;
}